{% block style %}
  <style type="text/css">
    @media(max-width=768){
      .form-descriptor{
          float: left !important;
      }
    }
  </style>
{% endblock%}
<div class="row">
  <div class="well col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 ">
    <h4 class="text-center">
      <a href="{% url 'account_signup' %}">Sign up</a> or sign in with your <strong>{{ site_name }}</strong> account
    </h4>

    <form id="login_form" class="form-horizontal" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}

      <div class="form-group">
        <div class="col-lg-2 col-md-2 col-sm-2 form-descriptor">
          <label for="inputEmail1" class="control-label">Username</label>
        </div>
      	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      	  <input type="text" class="form-control" id="inputEmail1" name="login" placeholder="Username or Email">
      	</div>
      </div>

      <div class="form-group">
        <div class="col-lg-2 col-md-2 col-sm-2 form-descriptor ">
      	   <label for="inputPassword1" class="control-label">Password</label>
         </div>
      	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      	  <input type="password" name="password" class="form-control" id="inputPassword1" placeholder="Password">

                {% if form.errors %}
                  <br>
                  {% for field in form %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ field.label }}:&nbsp;&nbsp;&nbsp; {{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endif %}
      	</div>
      </div>




      <div class="form-group">
	<div class="col-lg-offset-2 col-lg-10">
	  <label class="checkbox" for="checkbox3">
	    <input type="checkbox" data-toggle="checkbox" name="remember" value="" id="checkbox3"  class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
	    Remember me
	  </label>
	</div>
      </div>

      <div class="form-group">
	<div class="col-lg-offset-2 col-lg-10">
	  <button type="submit" class="btn btn-primary">Sign in</button>
	  <a class="btn btn-info" href="{% url 'account_reset_password' %}">Forgot Password?</a>
	</div>
      </div>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" class="form-control">
      {% endif %}

    </form>
  </div>
</div>
