{% if item.name not in user_pantry_item_names %}
  <form method="POST" id="add-item-to-pantry-form" action="{% url 'add-item-to-pantry' %}">
    {% csrf_token %}
    <input type="hidden" name="from_url" value="/lists/">
    <input type="hidden" name="list_id" value="{{ list.id }}">
    <input type="hidden" name="add-item-to-pantry-name" value="{{ item.name }}">
    <input type="hidden" name="add-item-to-pantry-desc" value="{{ item.description }}">
    <input type="hidden" name="party-id" value="{{ party.id }}">

    <button type="submit" data-itemid="{{ item.id }}" data-listid="{{ list.id }}" data-toggle="popover" data-placement="top" data-content="Add this item to your pantry" class="btn btn-lg  btn-primary add-item-to-pantry-button" id="add-item-to-pantry-button-{{ item.id }}-{{ list.id }}">
      <i class="fa fa-plus-square"></i>&nbsp;&nbsp;to Pantry
    </button>
  </form>
  <!-- Edit Pantry amount button -->
{% else %}
  <button data-itemid="{{ item.id }}" data-listid="{{ list.id }}" data-toggle="popover" data-placement="top" data-content="Edit amount of {{ item.name }} in your Pantry" class="btn btn-lg  btn-info edit-item-in-pantry-button" id="edit-item-in-pantry-button-{{ item.id }}-{{ list.id }}">
    <i class="fa fa-edit"></i>&nbsp;&nbsp;in Pantry
  </button>
{% endif %}
