<form class="form-inline" id="new-item-form" action="{% url 'new-item' %}" method="POST">
  {% csrf_token %}
  <row>
    <input type="hidden" name="from_url" value="{{ from_url }}">
    <input type="hidden" value="{{list.id}}" name="list-id">
    <input type="text" class="form-control" name="new-item-name" id="new-item-name" placeholder="Item Name">
    <input type="text" class="form-control" name="new-item-description" id="new-item-desc" placeholder="Item Description" />
    <!-- Scan Barcode button -->
    <span id="scan-barcode-button-new-item-{{ list.id }}" class="btn btn-warning fa fa-barcode">
      <input id="{{ list.id }}" class="scan-barcode-input" style="display:none;" type="file" accept="image/*" capture/>
    </span>
    <input type="submit" class="btn btn-primary" value="Add Item" id="new-item-save" />
  </row>
</form>
