<div class="panel panel-success">
  <div class="panel-heading" id="panel-heading-{{ list.id }}" data-listid="{{ list.id }}" data-toggle="collapse" data-target="l-{{ list.id }}">
    <a class="anchor" id="{{ list.id }}"></a>
    <div class="shopping-list">
      <h2>
        <span id="{{ list.id }}-collapse-indicator" class="fa fa-plus "></span>&nbsp;
        <a>
          {{ list }}&nbsp;&nbsp;&nbsp;
        </a>
      </h2>
      <h4>
        {{ list.description }}
        <div class="pull-right">
          <!-- print list form -->
          <form id="print-button" action="{% url 'print-list' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ list.id }}" name="list-id">
            <input type="submit" class="btn btn-sm btn-primary" value="Print list">
          </form>
          <!-- end print list form -->
          <span id="item-count" class="label label-info">{{ list.items.count }} items</span>
        </div>
      </h4>
    </div>
  </div>
  <div id="l-{{ list.id }}" class="panel-collapse">
    <div class="panel-body collapse" id="panel-body-{{ list.id }}">
      <span id="message-{{ list.id }}">
        {% if messages %}
          {% for message in messages %}
        <!-- Only show messages that pertain to the list the operation was completed on -->
            {% ifequal message.extra_tags list.id %}
              {{ message|safe }}
            {% endifequal %}
          {% endfor %}
        {% endif %}
      </span>

      {% if list.items.all %}
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-4">
            Item Name
          </div>
          <div class="col-md-5">
            Item Description
          </div>
        </div>

        {% for item in list.items.all %}
          <div class="item-well well">
            <div class="row">
              <div class="col-md-3">
                <!-- Remove item from list button -->
                {% include 'lists/_remove_item_form.html' %}
                <!-- Add item to pantry button -->
                {% include 'lists/_add_or_edit_item_to_pantry_form.html' with party=party %}
              </div>
              <div class="col-md-4">
                <h4>{{ item.name }}</h4>
              </div>
              <div class="col-md-5">
                <h6>{{ item.description }}</h6>
              </div>
            </div>

            <!-- Edit in pantry form -->
            {% if item.name in user_pantry_item_names %}
              {% include 'lists/_edit_item_in_pantry_form.html' %}
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <h3 class="text-center">Looks like this list doesn&apos;t contain any items, consider adding some below!</h3>

        {% include 'lists/_delete_list_form.html' %}
      {% endif %}

      <div class="well">
        <!-- add item form -->
        {% include 'lists/_add_item_to_list_form.html' %}
      </div>

      <!-- Only show delete form down here if there are items in the list -->
      {% ifnotequal list.items.count 0 %}
        {% include 'lists/_delete_list_form_bottom.html' %}
      {% endifnotequal %}
    </div>
  </div>
</div>

{% block style %}
  <style type="text/css">
    .panel-heading {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .popover-content {
      background-color: #34495E;
      color: white;
    }
    .popover.top .arrow:after {
      border-top-color: #34495E;
    }
    #add-item-to-pantry-cost, #edit-item-in-pantry-cost {
        width: 10%;
    }
    #add-item-to-pantry-stock, #edit-item-in-pantry-stock {
        width: 10%;
    }
    #add-item-to-pantry-unit, #edit-item-in-pantry-unit {
        width: 10%;
    }
    .panel-heading {
        padding: 1em;
    }
    .fa .fa-minus, .fa .fa-plus {
        text-size: 32px;
        vertical-align: middle;
    }
    h4, h6, h2 {
        display: inline;
        vertical-align: middle;
    }
    h4 {
        margin-right: .5em;
    }
    .item-well:hover {
        border: 1px solid #169E83;
    }
    #item-count {
        vertical-align: -webkit-baseline-middle;
    }
    #remove-item-form, #add-item-to-pantry-form {
        display: inline;
    }
    #new-item-save {
        float: right;
    }
    #new-item-name {
        width: 43%;
    }
    #new-item-desc {
        width: 43%;
    }
    #new-item-save {
        width: 10%;
    }
    .message {
        width: 100%;
    }
    .alert {
        display: flex;
    }
    a.anchor {
        display: block;
        position: relative;
        top: -77px;
        visibility: hidden;
    }
  </style>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({ trigger: "hover" });

      // if list_id in url, click the panel-header to un-collapse it and change the plus to minus
      if(window.location.hash) {
          var hash = window.location.hash.substring(1)

          // Only try to open panels if the hash is a number
          if(!isNaN(hash)) {
              $('#panel-heading-' + hash).click()
          }
      }
    });

    $('.edit-item-in-pantry-button').click(function(e){
      var item_id = this.dataset.itemid;
      var list_id = this.dataset.listid;

      // hide pantry button
      $('#add-item-to-pantry-button-' + item_id + '-' + list_id).hide();

      // show scan barcode button
      $('#scan-barcode-button-' + item_id + '-' + list_id).removeClass('hidden');

      // show edit form
      $('#edit-item-in-pantry-form-' + item_id + '-' + list_id).removeClass('hidden')

      // init datepicker for last_purchased
      var picker1 = new Pikaday({
        field: $('#edit-item-in-pantry-form-' + item_id + '-' + list_id + ' #datepicker-last-purchased')[0],
        format: 'MM/DD/YYYY',
      });

      // init datepicker for expiration_date
      var picker2 = new Pikaday({
        field: $('#edit-item-in-pantry-form-' + item_id + '-' + list_id + ' #datepicker-exp-date')[0],
        format: 'MM/DD/YYYY',
      });
    });
    $('.panel-heading').click(function() {
        var list_id = this.dataset.listid;

        // If collapsed, change plus to minus
        if($('#panel-body-' + list_id).hasClass('collapse')) {
            $('#' + list_id + '-collapse-indicator').removeClass('fa-plus')
            $('#' + list_id + '-collapse-indicator').addClass('fa-minus')
        }
        // change minus to plus
        else {
            $('#' + list_id + '-collapse-indicator').removeClass('fa-minus')
            $('#' + list_id + '-collapse-indicator').addClass('fa-plus')
        }

        $('#panel-body-' + list_id).toggleClass('collapse in')
    });

    // Show the user a confirmation form so they don't accidentally delete their lists
    $('.delete-list-button').click(function() {
        var list_id = this.dataset.listid;

        // Hide the initial delete button
        $('#delete-list-' + list_id).addClass('hidden');
        // Show confirmation form
        $('#delete-list-confirmation-form-' + list_id).removeClass('hidden');
    });

    // Hide the confirmation form when the user presses the don't delete button
    $('.delete-list-cancel-button').click(function() {
        var list_id = this.dataset.listid;

        // Hide confirmation form
        $('#delete-list-confirmation-form-' + list_id).addClass('hidden');
        // Show initial delete button
        $('#delete-list-' + list_id).removeClass('hidden');
    });
  </script>
{% endblock %}
