{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Barcode Scanner
{% endblock %}

{% block content %}
<div id="interactive" class="viewport">
    <video autoplay="true" preload="auto"></video>
</div>
<div class="controls">
  <fieldset class="input-group">
    <input type="file" capture/>
    <button>Add Item</button>
  </fieldset>
</div>
<div id="result_strip">
  <ul class="codes"></ul>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/quagga.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/file_input.js' %}" type="text/javascript"></script>
{% endblock %}


