{% extends "base_sidebar.html" %}

{% block title %}
  Your Groups
{% endblock %}

{% block style %}
  <style>
    .popover-content {
        background-color: #34495E;
        color: white;
    }
    .popover.top .arrow:after {
        border-top-color: #34495E;
    }
  </style>
{% endblock %}

{% block content %}

  <h1 class="text-center">Your Groups</h1>
  <br>
  <h3>Groups you own:</h3>
  
    {% if not user_parties %}
      <div class="text-center">
        <br>
        <h3>Looks like you don't belong to any groups yet.</h3>
      </div>
    {% else %}
      {% for party in party_own %}
        <div id="{{ party.id }}" class="party well">
          <h2>
            <a href="/lists/party/{{ party.id }}/">
              {{ party.name }}&nbsp;&nbsp;&nbsp;
            </a>
          </h2>
        </div>
      {% endfor %}
      <h3>Groups you belong to:</h3>
      {% for party in user_parties %}
        {% if party not in party_own %}
          <div id="{{ party.id }}" class="party well">
            <h2>
              <a href="/lists/party/{{party.id }}/">
                {{ party }}
              </a>
            </h2>
            <h4>Owner: {{ party.owner }}</h4>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    
    <br>
    <div class="text-center">
      <form method="POST" id="create-party" action="{% url 'create-party' %}">
        {% csrf_token %}
        <button type="submit" data-toggle="popover" data-placement="top" data-content="Create a new Group" class="btn btn-lg btn-success">&nbsp;Create New Party</button>
      </form>  
    </div>

{% endblock %}

{% block script %}
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({ trigger: "hover" });
    });
  </script>
{% endblock %}