{% extends "base_sidebar.html" %}

{% block title %}
  {{ party.name }}
{% endblock %}

{% block style %}
<style>
    .popover-content {
        background-color: #34495E;
        color: white;
    }
    .popover.top .arrow:after {
        border-top-color: #34495E;
    }
  </style>
{% endblock %}

{% block content %}
  <h1 class="text-center">{{ party }}</h1>
  <br>
  
  <h2 class="text-center">{{party.name}}'s Pantry</h2>

  <h2 class="text-center">Party Shopping Lists:</h2>
  <table class="table table-bordered">
    <tbody>
      {% for list in party_lists %}
        <tr class="shopping-list-row">
          <td>
            <a href="/lists/{{ list.id }}/">
              <h4>{{ list.name}}</h4>
            </a>
          </td>
          <td>
            <h5>{{ list.description }}</h5>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <div class="text-center">
    <form method="POST" id="add-group-list" action="{% url 'add-group-list' %}">
      {% csrf_token %}
      <input type="hidden" value="{{ party.id }}" name="party-id">
      <button type="submit" data-toggle="popover" data-placement="top" data-content="Add Another Shooping List to this Group" class="btn btn-large btn-success">&nbsp;Add Shopping List</button>
    </form>
  </div>


  <h2 class="text-center">Group Members:</h2>
  {% for user in users %}
    <h5 class="text-center">
      {{user}} <!-- When user page exists, link user names to user pages -->
    </h5> 
  {% endfor %}
  <br>
  <div class="text-center">
    {% if personal_party != party %}
      <div class="text-center">
        <button type="submit" data-toggle="popover" data-placement="top" data-content="Invite more People to Group" class="btn btn-lg btn-success">&nbsp;<a href="{% url 'invitation_list' %}">Manage Invitations</a></button>
      </div>
      <br>
      <form method="POST" id="leave-party-form" action="{% url 'leave-party' %}">
        {% csrf_token %}
        <input type="hidden" value="{{ party.id }}" name="leave-group-id">
        <button type="submit" data-toggle="popover" data-placement="top" data-content="Leave this Group" class="btn btn-lg btn-danger">&nbsp;Leave Group</button>
      </form>
    {% else %}
      <button data-toggle="popover" data-placement="top" data-content="Cannot Leave Personal Party" class="btn btn-lg btn-primary" disabled>&nbsp;Can't Leave</button>
    {% endif %}
  </div>
  <br>

{% endblock %}

{% block script %}
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({ trigger: "hover" });
    });
  </script>
{% endblock %}