{% extends "base_sidebar.html" %}

{% block title %}
  Your Groups
{% endblock %}

{% block content %}
  <h1 class="text-center">Your Groups</h1>

  {% include "lists/_messages.html" %}

  <!-- Parties owned by user -->
  {% if owned_parties %}
    <h3>Groups you own:</h3>
    {% for party in owned_parties %}
      <div id="{{ party.id }}" class="party well">
        <h2>
          <a href="{% url 'party' party.id %}">
            {{ party.name }}&nbsp;&nbsp;&nbsp;
          </a>
        </h2>
      </div>
    {% endfor %}
  {% else %}
    <h3 class="text-center">You don't own any groups.</h3>
  {% endif %}

  <!-- Parties that user belongs to -->
  {% if user_parties %}
    <h3>Groups you belong to:</h3>
    {% for party in user_parties %}
      <div id="{{ party.id }}" class="party well">
        <h2>
          <a href="{% url 'party' party.id %}">
            {{ party }}
          </a>
        </h2>
        <h4>Owner: {{ party.owner }}</h4>
      </div>
    {% endfor %}
  {% else %}
    <h3 class="text-center">You don't belong to anyone else's groups.</h3>
  {% endif %}

  <br>

  <!-- New Party form -->
  <div class="text-center well">
    <h3>Create a new Group</h3>
    <br>
    <form method="POST" class="form-inline" id="create-party" action="{% url 'create-party' %}">
      {% csrf_token %}
      <input type="text" class="form-control" name="group-name" placeholder="Group Name">
      <button type="submit" class="btn btn-lg btn-success">&nbsp;Create New Group</button>
    </form>
  </div>
  <br>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({ trigger: "hover" });
    });
  </script>
{% endblock %}

{% block style %}
  <style>
    .popover-content {
        background-color: #34495E;
        color: white;
    }
    .popover.top .arrow:after {
        border-top-color: #34495E;
    }
  </style>
{% endblock %}
