{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h3>This is just a basic view to demonstrate that the models have been implemented correctly </h3>

<h4> testing json responses </h4>
<h3> Walmart Item Search </h3>
<div class="test" id="hoho"></div>
<div class="controls1">
  <fieldset class="input-group">
    <input type="text" capture/>
    <button>Test</button>
  </fieldset>
</div>
<br/>
<h3> Walmart UPC Search </h3>
<div class="test" id="haha"></div>
<div class="controls2">
  <fieldset class="input-group">
    <input type="text" capture/>
    <button>Test</button>
  </fieldset>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/item_detail_test.js' %}" type="text/javascript"></script>
{% endblock %}
