{% load staticfiles %}

{% block style %}
  <style type="text/css">
    #expired-well {
      background-color: rgba(231, 76, 60, .3);
    }
    #expired-item-well {
      background-color: rgba(231, 76, 60, .8);
      padding-top: 5px;
      padding-bottom: 0px;
      color: #fff;
    }

    #warning-well {
      background-color: rgba(241, 196, 15, .3);
    }
    #warning-item-well {
      background-color: rgba(241, 196, 15, .8);
      padding-top: 5px;
      padding-bottom: 0px;
      color: #fff;
    }
    .message {
        width: 100%;
    }
    a.anchor {
        display: block;
        position: relative;
        top: -77px;
        visibility: hidden;
    }
  </style>
{% endblock %}


<h1 class="text-center" data-step="1" data-intro="Welcome to your FridgeFiller personal home page. Let's look at some of the stuff you can do.">Welcome to FridgeFiller</h1>
{% if not most_recent_list %}
  <!-- no html -->
{% else %}
  <h2 class="text-center" data-step="2" data-intro="Looks like you've already made some lists. This is your most recent one.">Most Recent Shopping List</h2>
  <br>
  {% include 'lists/_list_view.html' with list=most_recent_list from_url='/' %}
  <br>
{% endif %}

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="warning-items-yours" data-step="3" data-position="right" data-intro="Here are some of the items you need to worry about. If it's in Yellow, it will expire in less than 1 week. If it's in Red, its already expired.">
    <div class="well" id="expired-well">
      <h3 class="text-center">Expired Items</h3>
      <p class="text-center"> These Items in your personal pantry are expired! </p>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h6>Name</h6></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h6>Expiration Date</h6></div>
      </div>

      {% for item in expired_items %}
        <div class="row">
          <div class="well" id="expired-item-well">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <p>{{ item.name }}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{ item.expiration_date.date }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="well" id="warning-well">
      <h3 class="text-center">Warning Items</h3>
      <p class="text-center"> These Items in your personal pantry will expire in less than a week! </p>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h6>Name</h6></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h6>Expiration date</h6></div>
      </div>
      {% for item in warning_items %}
        <div class="row">
          <div class="well" id="warning-item-well">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <p>{{ item.name }}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{ item.expiration_date.date }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="warning-items-group" data-step="4" data-position="left" data-intro="You have the same info for your groups (you can find out more of those by going to your groups tab), but the same color information applies here too.">
    <div class="well" id="expired-well">
      <h3 class="text-center">Group Expired Items</h3>
      <p class="text-center"> These Items in your group personal pantry are expired! </p>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h6>Name</h6></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h6>Expiration Date</h6></div>
      </div>

      {% for item in group_expired_items %}
        <div class="row">
          <div class="well" id="expired-item-well">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <p>{{ item.name }}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{ item.expiration_date.date }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="well" id="warning-well">
      <h3 class="text-center">Group Warning Items</h3>
      <p class="text-center"> These Items in your group pantry will expire in less than a week! </p>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h6>Name</h6></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h6>Expiration date</h6></div>
      </div>
      {% for item in group_warning_items %}
        <div class="row">
          <div class="well" id="warning-item-well">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <p>{{ item.name }}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{ item.expiration_date.date }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
  </div>
</div>
