{% load staticfiles %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/parallax_styles.css' %}"/>
{% endblock %}
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" id="brand">Fridge Filler </a>
      </div>
    </div>
  </nav>
 <div id="login-slide">
    <h1> FridgeFiller </h1>
    <div class="container">
      <div class="row nav">
        {% include "account/login_form.html" %}
      </div>
   </div>
 </div>

 <div id="basic-use">
   <div class="container">
     <div class="well" id="info-well">
       <div class="row">
         <div class="col-md-6">
           <div id="carousel-1" class="carousel slide" data interval="false">
             <div class="carousel-inner">
               <div class="item active">
                 <img class="img-responsive" src="{% static 'img/listpic.png' %}" align="left" />
               </div>
               <div class="item"><!-- THIS ONE CAUSES AN AUTO RESIZE -->
                 <img class="img-responsive" src="{% static 'img/group_1.png' %}" align="left" />
               </div>
               <div class="item">
                 <img class="img-responsive" src="{% static 'img/group_2.png' %}" align="left" />
               </div>
               <div class="item">
                 <img class="img-responsive" src="{% static 'img/group_4.png' %}" align="left" />
               </div>
             </div>
             <!-- Controls -->
            <a class="left carousel-control fui-arrow-left" href="#carousel-1" data-slide="prev"></a>
            <a class="right carousel-control fui-arrow-right" href="#carousel-1" data-slide="next"></a>
           </div>
         </div>
         <div class="col-md-6">
           <div class="row">
             <h2>Create Shopping Lists and share them with your friends and family! </h2>
           </div>
           <div class="row">
             <p>Use FridgeFiller to create custom shopping lists for yourself. Use your lists to keep track of what you bought and what you still need to get. Once you've got it, add it to your pantry!</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div id="pantrys">
   <div class="container">
     <div class="well" id="info-well">
       <div class="row">
         <div class="col-md-6">
           <div class="row">
             <h2> Keep track of what's in your pantry!</h2>
           </div>
           <div class="row">
             <p> Using FridgeFiller's awesome pantry system it's easy to keep stock of what you have and what you need. We'll even let you know when your food is going to expire so you dont run out of an ingredient when you need it most.</p>
           </div>
         </div>
         <div class="col-md-6">
           <div id="carousel-2" class="carousel slide" data interval="false">
             <div class="carousel-inner">
               <div class="item active">
                 <img class="img-responsive" src="{% static 'img/personal_pantry.png' %}" align="left" />
               </div>
               <div class="item">
                 <img class="img-responsive" src="{% static 'img/group_4.png' %}" align="left" />
               </div>
             </div>
             <!-- Controls -->
            <a class="left carousel-control fui-arrow-left" href="#carousel-2" data-slide="prev"></a>
            <a class="right carousel-control fui-arrow-right" href="#carousel-2" data-slide="next"></a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div id="barcode-scanning">
   <div class="container">
     <div class="well" id="info-well">
       <div class="row">
         <div class="col-md-6"><img src="{% static 'img/listpic.png' %}" align="left" alt="Manage dynamic lists!" style="width: 100%; height: auto;"/></div>
         <div class="col-md-6">
           <div class="row">
             <h2> Just scan your food to keep track of it!</h2>
           </div>
           <div class="row">
             <p>With FridgeFiller's easy to use barcode scanner just take a picture to put it in your pantry. This way you dont have to waste time writing in every item. </p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div id="portable-lists">
   <div class="container">
     <div class="well" id="info-well">
       <div class="row">
         <div class="col-md-6">
           <div class="row">
             <h2>Take your shopping lists with you! </h2>
           </div>
           <div class="row">
             <p>Access your lists and pantry anywhere on your phone, laptop, or old school pen and paper. FridgeFiller has a built in printing view so you can just print of your list and take it with your. Or give it to your Grandma. Whatever floats your boat. </p>
           </div>
         </div>
         <div class="col-md-6"><img src="{% static 'img/listpic.png' %}" align="left" alt="Manage dynamic lists!" style="width: 100%; height: auto;"/></div>
       </div>
     </div>
   </div>
 </div>
 <div id="user-testimonials">
   <div class="container">
     <div class="well" id="info-well">
       <div class="row">
         <div class="col-md-6"><img src="{% static 'img/listpic.png' %}" align="left" alt="Manage dynamic lists!" style="width: 100%; height: auto;"/></div>
         <div class="col-md-6">
           <div class="row">
             <h2> Hear what people are saying about FridgeFiller! </h2>
           </div>
           <div class="row">
             <p> I swear if this javascript would start working... </p>
             <p> Jon Simingson </p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div class="row" id="groupname">
  <div id="col-md-2">
   Created by Pepe(ight)
  </div>
</div>

</body>
</html>
