{% for invitation in invitations %}
  {% if forloop.first %}
    <div class="accordion" id="invite-accordion">
  {% endif %}

  <div class="panel panel-success">
    <div class="panel-heading" data-name="{{ name }}" id="panel-heading-{{ name }}-{{ counter }}"
         data-counter="{{ forloop.counter }}" data-toggle="collapse" data-target="{{ name }}Collapse{{ forloop.counter }}">
      <span id="{{ name }}-{{ forloop.counter }}-collapse-indicator" class="fa fa-plus primary"></span>&nbsp;&nbsp;
      <a>
         {% if invitation.receiver == user.profile %}
           Invitation from <strong>{{ invitation.sender }}</strong>
         {% else %}
           Invitation to <strong>{{ invitation.receiver }}</strong>
         {% endif %}

         to join <strong>{{ invitation.party.name }}</strong>

         {% if invitation.response %}
           {% ifequal invitation.response 'A' %}
             <span class="pull-right label label-primary">Accepted</span>
           {% endifequal %}
           {% ifequal invitation.response 'D' %}
             <span class="pull-right label label-danger">Declined</span>
           {% endifequal %}
         {% endif %}
         {% if not invitation.read %}
           <span id="unread-invite" class="label label-primary pull-right">Unread</span>
         {% endif %}
      </a>
    </div>
    <div id="{{ name }}Collapse{{ forloop.counter }}" class="panel-collapse">
      <div class="panel-body collapse" id="panel-body-{{ name }}-{{ forloop.counter }}">
        <p>
          {{ invitation.message }}
        </p>
        <div class="text-center">
          <a href="{{ invitation.get_absolute_url }}" class="btn btn-primary">Open Invitation</a>
        </div>
      </div>
    </div>
  </div>

  {% if forloop.last %}
    </div>
  {% endif %}

{% empty %}
  <h3 class="text-center"><i>No {{ name }} invitations.</i></h3>
{% endfor %}

{% block style %}
  <style type="text/css">
    span.fa {
      vertical-align: middle;
    }
    #unread-invite {
        vertical-align: -webkit-baseline-middle;
    }
    .panel-heading {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
  </style>
{% endblock %}
