{% extends "base_sidebar.html" %}

{% block title %}
    Create Invitation
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <br>
  {% if not form.fields.party.queryset.exists %}
    <p> You cannot send invitations at the moment</p>
  {% endif %}

  {% crispy form %}

{% endblock %}

{% block style %}
  <style type="text/css">
      #id_receiver, #id_party {
        color: #fff;
        background-color: #1abc9c;
        width: auto;
        border: 1px #1abc9c solid;
        font-weight: bold;
      }
      #div_id_party, #div_id_receiver, #div_id_message {
          padding-left: 20px;
          padding-right: 20px;
      }
      #submit-id-submit {
          margin-left: 20px;
      }
  </style>
{% endblock %}
