{% load active_tags %}
{% load invitation_tags %}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a href="/" class="navbar-brand" rel="home">
      FridgeFiller
    </a>
    <!-- Helps the navbar collapse when the page shrinks -->
    <button class="navbar-toggle collapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="navbar-collapse collapse">
    <ul class="nav pull-left navbar-nav">
      <!-- List Items for left navbar here -->
      <li class="{% active_re '/invitations' %}" id="invitation-tab">
        <a href="{% url 'invitation_list' %}">
          Group Invitations
          {% if user|has_unread_invitations %}
            &nbsp;&nbsp;<span class="badge badge-primary">{% unread_invitation_count %}</span>
          {% endif %}
        </a>
      </li>
    </ul>
    <ul class="nav pull-right navbar-nav">
      {% if user.is_authenticated %}
        <li>
          <a href="{{ user.profile.get_absolute_url }}">
            <strong>{{ user.username }}</strong>
          </a>
        </li>
        {% if user.is_staff %}
          <li>
            <a href="/admin/">Admin</a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'account_logout' %}">Logout</a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'account_login' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>

{% block style %}
  <style type="text/css">
    ul.navbar-nav li {
        margin-left: 41px;
    }
    #invitation-tab span {
        vertical-align: middle;
    }
    span.badge.badge-primary {
        background-color: #169E83;
        color: #fff;
        font-weight: bold;
    }
  </style>
{% endblock %}
