<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a href="/" class="navbar-brand" rel="home">
      FridgeFiller
    </a>
    <!-- Helps the navbar collapse when the page shrinks -->
    <button class="navbar-toggle collapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="navbar-collapse collapse">
    <ul class="nav pull-left navbar-nav">
      <!-- List Items for left navbar here -->
    </ul>
    <ul class="nav pull-right navbar-nav">
      {% if user.is_authenticated %}
        <li>
          <a href="{{ user.profile.get_absolute_url }}">
            <strong>{{ user.username }}</strong>
          </a>
        </li>
        {% if user.is_staff %}
          <li>
            <a href="/admin/">Admin</a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'account_logout' %}">Logout</a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'account_login' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
