<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
      {% include "_head.html" %}
    {% endblock %}

    {% block meta %}{% endblock %}
    {% block style %}{% endblock %}
    {% block link %}{% endblock %}
  </head>
  <body>
    {% include "_navbar.html" %}

    <div class="page-wrapper">
      <div class="row container-fluid">
        <div class="col-lg-12" id="content">
          {% block content %}

          {% endblock %}
        </div>
      </div>
    </div>

    {% block modal %}{% endblock %}

    <!-- Scripts -->
    {% include "_scripts.html" %}

    <!-- Extra scripts -->
    {% block script %}{% endblock %}

  </body>
</html>
