<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
      {% include "_head.html" %}
    {% endblock %}
    
    {% block meta %}{% endblock %}
    
    {% block link %}{% endblock %}
  </head>
  <body>
    {% include "_navbar.html" %}

    <!-- Sidebar -->
    {% if user.is_authenticated %}
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
            <a href="{% url 'lists' %}">My Lists <span class="fa fa-arrow-right"></span></a>
          </li>
          <li>
            <a href="#">My Groups <span class="fa fa-arrow-right"></span></a>
          </li>
          <li>
            <a href="#">Suggested Lists</a>
          </li>
          {% block sidebar %}{% endblock %}
        </ul>
      </div>
    {% endif %}
    
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

    {% block modal %}{% endblock %}
    
    <!-- Scripts -->
    {% include "_scripts.html" %}
    
    <!-- Extra scripts -->
    {% block script %}{% endblock %}
    
  </body>
</html>
